/*Navigation bar */
.navigation{
    list-style: none;
    margin: 0;
    width: 100%;
    height: 700px;
    padding: 10px;
    background: url("images/img4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
}
.know{
  font-family: sans-serif;
  font-size: 40px;
  color: #C83431;
  position: absolute;
  top: 17vh;
  left: 60vh;
}
.your{
  font-family: sans-serif;
  font-size: 40px;
  color:#F4CB39;
  position: absolute;
  top: 25vh;
  left: 80vh;
}
.Akan{
  font-family: sans-serif;
  font-size: 40px;
  color:#23683E;
  position: absolute;
  top: 35vh;
  left: 90vh;
}
.navigation li{
    display: inline;
}
.navigation a{
    padding: 8px;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
}
.arrowdn{
    position: absolute;
    width: 10vh;
    height: 10vh;
    top: 100vh;
    left: 105vh;
    text-align: center;
    font-size: 20px;
    padding: 15px;
    border-radius: 15%;
}


.main{
    background: #15172B;
    margin: 0;
    width: 100%;
    height: 700px;
    padding: 10px;
    color: #303245;
    
}

.inpt{
  background: #303245;
    margin: 0;
    width: 100%;
    height: 700px;
    padding: 10px;
}

.form {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height: 650px;
  padding: 20px;
  width: 620px;
  position: absolute;
  top: 240vh;
  left: 90vh;
}

.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.ttl{
  font-family: sans-serif;
  font-size: 70px;
  font-weight: 600;
  color: rgb(250, 65, 96);
  position: absolute;
  top: 250vh;
  left: 10vh;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #dc2f55;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}
.result{
  font-family: sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: rgb(250, 65, 96);
  position: absolute;
  top: 270vh;
  left: 10vh;
}
.column {
  font-family: sans-serif;
  float: left;
  width: 50%;
  color: white;
}
.column h1{
  position: absolute;
  top: 120vh;
  left: 80vh;
}
.notes{
  position: absolute;
  top: 130vh;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.zip{
  position: absolute;
  top: 195vh;
  left: 20vh;
}
.zip1{
  position: absolute;
  top: 195vh;
  left: 70vh;
}
.zip2{
  position: absolute;
  top: 195vh;
  left: 120vh;
}
.notes{
  text-align: center;
  position: absolute;
  top: 150vh;
}